/* ===================================================================
   ! Separator
   ===================================================================*/

.separator {
    height: 1px;
    -gradient-height: 1px;
    -gradient-start: rgba(255, 255, 255 , 0.06);
    -gradient-end: rgba(255, 255, 255 , 0.06);
    -margin-horizontal: 2px;
}
